// Place all the styles related to the cools controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
td {
  
border: 3px blue solid; 
color:white;
background-color: black; 
}

table {

border:3px green solid;
background-color: black;
}

th {

  border-bottom: 2px red dashed;
  color:white;
}

h1 {
  
font-family: cursive;
color: blue;
font-weight: 5em;
font-size: 50px;


}

#notice {
  


font-size: 30px;

}



